$blue-dark: #2a81e2 !default;
$blue-light: #67a7ff !default;
$gray-dark: #444444 !default;
$gray-light: #adadad !default;
$green-dark: #37b396 !default;
$green-darker: #4bb89e !default;
$green-light: #ccf5e7 !default;
$color-orange: #f5a626 !default;
$color-red: #dd1c26 !default;